body {
font-family: 'Oxygen', sans-serif !important;
}
.navbar {
    margin-bottom: 20px;
}
h5.title {
    font-weight: bold;
}
body > header > nav > div > a:nth-child(2) {
  font-family: 'Cookie', cursive;
  font-size: 25px;
}
.nav a {
   font-size: 1.1em;
 }
